<h4>Шедевр мысли:</h4>
	<p>
		<%= @row['content'] %>
		<br/ >	
		<br/ >	
		Сотворено <%= @row['created_date'] %>
		<br/ >	
		<br/ >			
	</p>
<h4>Ценные комментарии:</h4>	
<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
	  <textarea name="content" class="form-control" rows="6" placeholder="Введите вашу мысль"></textarea>
	  <br/ >
	  <button type="submit" class="btn btn-primary">Yarr!</button>
	</form>
</p>
