<h2>Главная страница</h2>
<br/ >
<% @results.each do |post| %>
	<p>
		<%= post['content'] %>
		<br/ >	
		<br/ >	
		Сотворено <%= post['created_date'] %>
		<br/ >	
		<a href="/post/<%= post['id']%>">Каменты:</a>
	</p>
	<hr/ >
<% end %>